<div class="row">
    <div class="col-md-12">

        <h3>Add Post</h3>
        <hr>

        <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
            <div class="mb-3">
                <label>Title</label>
                <input type="text" class="form-control" formControlName="title" />

                <div *ngIf="postForm.get('title')?.touched && !postForm.get('title')?.valid">
                    <div *ngIf="postForm.get('title')?.errors?.['required']">
                        Title is required.
                    </div>

                    <div *ngIf="postForm.get('title')?.errors?.['minlength']">
                        TItle should be of {{MIN_TITLE_LENGTH}} characters
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label>Description</label>
                <textarea class="form-control" formControlName="description"></textarea>
                <div>
                    {{showDescriptionErrors()}}
                </div>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">Add Posts</button>
            </div>

          
        </form>
    </div>
</div>