<!-- Different display headings by angular material designs -->
<div class="mat-display-4">Title 4</div>
<div class="mat-display-3">Title 3</div>
<div class="mat-display-2">Title 2</div>
<div class="mat-display-1">Title 1</div>

<div class="mat-headline">This is heading for the h1 tag</div>
<div class="mat-title">act as h2</div>
<div class="mat-subheading-1">Act as h4</div>
<div class="mat-subheading-2">Act as h3</div>

<div class="mat-body-1">Body tag 1</div>
<div class="mat-body-2">Body tag 2</div>
<div class="mat-caption">Mat caption</div>

<div class="mat-typography">
    <h1>Mat typography h1</h1>
</div>

<!-- <mat-divider></mat-divider> -->

<button mat-raised-button color="primary">Primary</button>